<!DOCTYPE html>
<html lang="en">

<head>
    {% block head %}
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    {% endblock %}

{#    @@include('./_head.html', {#}
{#    "path": "../..",#}
{#    "title": "Volt Free Bootstrap Dashboard - Buttons"#}
{#    })#}

    <title>{% block title %}{% block page_title _self %}{% endblock %}</title>

    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
        <style>
            {% block embedded_style %}
            {% endblock %}
        </style>

        {% block favicons %}
        {#        <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('apple-touch-icon.png') }}">#}
{#        <link rel="icon" type="image/png" sizes="32x32" href="{{ asset('favicon-32x32.png') }}">#}
{#        <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('favicon-16x16.png') }}">#}
{#        <link rel="manifest" href="{{ asset('site.webmanifest') }}">#}
            {% endblock %}
    {% endblock %}

</head>

<body {% block body_start '' %}>
<div class="wrapper">
    <div class="main">
        {% block navbar %}
        <nav class="navbar navbar-expand navbar-light navbar-bg ">

            {% block menu_toggle %}
                <a class="sidebar-toggle js-sidebar-toggle">
                    <i class="hamburger align-self-center"></i>
                </a>

{#            <a class="js-sidebar-toggle d-flex">#}
{#                <i class="hamburger align-self-center"></i>#}
{#            </a>#}

            <form class="d-none d-sm-inline-block">
                <div class="input-group input-group-navbar">
                    <input type="text" class="form-control" placeholder="Search…" aria-label="Search">
                    <button class="btn" type="button">
                        <i class="align-middle" data-feather="search"></i>
                    </button>
                </div>
            </form>
            {% endblock %}

            {% block navbar_notifications %}
            <div class="navbar-collapse collapse">
{#                            {% include "@SurvosBase/adminkit/_navbar_notifications_demo.html.twig" %}#}
{#                            {% include "@SurvosBase/adminkit/_navbar_user.html.twig" with {profile_dropdown: block('profile_dropdown')} %}#}
            </div>
            {% endblock %}
        </nav>
        {% endblock %}

        {% block content_header %}
            <section class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h3>{{ block('page_title') }}</h3>
                            <h1>General Form</h1>
                        </div>
                        <div class="col-sm-6">
                            <ol class="breadcrumb float-sm-right">
                                <li class="breadcrumb-item"><a href="#">Home</a></li>
                                <li class="breadcrumb-item active">General Form</li>
                                {% block breadcrumbs %}
                                    <li class="breadcrumb-item"><a href="#">nothing</a></li>
                                {% endblock %}
                            </ol>
                        </div>
                    </div>
                </div><!-- /.container-fluid -->
            </section>

        <h3>{{ block('page_title') }}</h3>
        {% endblock %}

        {% block content %}
        <main class="content">
            <h3>{{ block('page_title') }}</h3>

            {# read and display all flash messages #}
            {% for label, messages in app.flashes %}
                {% for message in messages %}
                    <div class="flash-{{ label }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endfor %}

            <div class="container-fluid p-0">
                {% block page_content_before %}
                    {% block page_navigation %}
                        {# emit page events populated by the top menu subscriber, never printed #}
                        <div class="d-print-none">
                            {% include '@SurvosBase/render_page_menu.html.twig' with {page_title: block('page_title')} %}
                        </div>
                    {% endblock %}
                {% endblock %}
                {{ block('body') }}
            </div>
            {% block aside %}
            <aside>
{#                Aside here.#}
            </aside>
            {% endblock %}
        </main>
        {% endblock %}
    </div>
</div>
{% block body_end %}
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}


</body>
</html>
