{#  \Survos\BaseBundle\SurvosBaseBundle base.html.twig #}
{#
Copied from '@SurvosBaseBundle/layout/default-layout.html.twig' and adjusted for Survos
#}
<!DOCTYPE html{% block html_start %}{% endblock %}>
<html lang="{{ app.request.locale }}">
<head>
{#    <script src="https://kit.fontawesome.com/4805d4aa9b.js" crossorigin="anonymous"></script>#}
    {% block head %}
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    {% endblock %}
    <title>{% block title %}{{ block('page_title') }}{% endblock %}</title>

    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}

{#        <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('apple-touch-icon.png') }}">#}
        <link rel="icon" type="image/png" sizes="32x32" href="{{ asset('favicon-32x32.png') }}">
        <link rel="icon" type="image/png" sizes="32x32" href="{{ asset('favicon-16x16.png') }}">
        <link rel="manifest" href="{{ asset('site.webmanifest') }}">
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}


</head>
{#
Apply one of the following classes for the skin:
skin-blue, skin-black, skin-purple, skin-yellow, skin-red, skin-green

Apply one or more of the following classes for the layout options:
fixed, layout-boxed, layout-top-nav, sidebar-collapse, sidebar-mini

#}
{% block dom_body %}
{% block body_start_tag %}
<body {% block body_start %}{% endblock %} class="{{ admin_lte_context.skin|default("") }} ">
{% endblock %}
{% block after_body_start %}{% endblock %}
<div class="wrapper">
        {% block sidbar_collapse_element %}
        {% endblock %}

    {% block navbar %}
{#        {{ include("@SurvosBase/adminlte/_example_topbar.html.twig") }}#}
        {{ include("@SurvosBase/adminlte/_navbar.html.twig") }}
        {% endblock %}

    {% block navbar_user %}
    {% endblock %}

    {% block sidebar %}
    <aside class="main-sidebar {% block sidebar_class %}sidebar-bg-dark{% endblock%} sidebar-color-primary shadow">
        <div class="brand-container">
            <a href="{{ logo_path|default('/') }}" class="brand-link">
                <span class="brand-text fw-light">
                    {% block logo_mini %}
                    {{ logo_mini|default('home.title'|trans)}}
                    {% endblock %}
                </span>
            </a>
            <a class="pushmenu mx-1" data-lte-toggle="sidebar-mini" role="button"><i
                        class="fas fa-angle-double-left"></i></a>
        </div>
{#            <a href="{% block logo_path %}{{ path('app_homepage'|route_alias) }}{% endblock %}" class="brand-link ">#}
{#                {% block logo_mini %}#}
{#                    <img src="{{ asset('favicon-32x32.png')  }}" alt="Logo" class="brand-image elevation-3" >#}
{#                    <span class="brand-text font-weight-light">{{ logo_mini|default('home.title'|trans)}}</span>#}
{#                {% endblock %}#}
{#                {% block logo_large %} {{ logo_large|default('home.title'|trans)}} {% endblock %}#}
{#            </a>#}

            <div class="sidebar">
                {% block sidebar_user %}
{#                    {% if app.user is not null and is_granted('IS_AUTHENTICATED_FULLY') %}#}
{#                         render(controller('KevinPapst\\AdminLTEBundle\\Controller\\SidebarController::userPanelAction'))#}
{#                    {% endif %}#}
                {% endblock %}

{#                {% block sidebar_user '@todo: user info' %}#}


                {% block sidebar_nav %}
                {#
                <div {{ stimulus_controller('mmenu', {
                    'currentMenuItem' : 'test'
                }
                ) }}
                >
                    <div data-mmenu-target="mmenu">Mmenu target.</div>
                    <div data-mmenu-target="msg">A msg will go here.</div>

                    <nav id="sidebar-menu" data-mmenu-target="tree">
                        #}


{#                <nav id="sidebar-menu">#}

                <div class="os-padding">
                    <div class="os-viewport os-viewport-native-scrollbars-invisible">
                        <div class="os-content" style="padding: 8px; height: 100%; width: 100%;">
                            <nav class="mt-2">

                {{ include('@theme/render_sidebar_menu.html.twig',  {
                        theme: theme,
                        debug: app.request.get('debug', false),
                        menuCode: 'survos_sidebar_menu'}
                )}}
                            </nav>
                        </div>
                    </div>
                </div>
{#                </nav>#}
                {% endblock %}
            </div>
        </aside>

{% endblock %}

    <div class="content-wrapper">

        <div class="content-header">
            <div class="container-fluid">
                <section class="row mb-2">
                    <div class="col-sm-6">
                        <div class="fs-3">
                            <h1 class="m-0 text-dark">
                                {% block back_link %}{% endblock %}
                                {% block page_title 'home.title'|trans %}
                            </h1>
                            {% if block('page_subtitle') is defined %}<small>{{ block('page_subtitle') }}</small>{% endif %}

                        </div>
                    </div>
                    <div class="col-sm-6">
                        {% block breadcrumb %}
                        <ol class="breadcrumb float-sm-end">
                            {% block breadcrumb_items %}
                            {# @todo: handle multiple breadcrumbs for custom dashboards #}
                            {% set breadcrumbMenu =  knp_menu_get('survos_sidebar_menu', [], {style: 'x'}) %}
                            {{ knp_menu_render(breadcrumbMenu, {'template': '@theme/breadcrumbs.html.twig'}) }}
                                |
                                {% set breadcrumbMenu =  knp_menu_get('survos_page_menu', [], []) %}
                                {{ knp_menu_render(breadcrumbMenu, {'template': '@theme/breadcrumbs.html.twig'}) }}

                            {% endblock %}
                        </ol>
                        {% endblock %}
                    </div>
                </section>
            </div>
        </div>

        <div class="clearfix"></div>

        {% block page_content_before %}
            {% block page_navigation %}
                {# emit page events populated by the top menu subscriber #}
                {% include '@SurvosBase/render_page_menu.html.twig' with {page_title: block('page_title')} %}
            {% endblock %}
        {% endblock %}

        <section class="{% block page_content_class %}content{% endblock %}">
            <div class="container-fluid">
                {% block page_content_start %}
                    {{ include('@SurvosBase/Partials/_flash_messages.html.twig') }}
                {% endblock %}

                {% block page_content %}
                    {{ block('body') }}
                {% endblock %}

                {% block page_content_end %}{% endblock %}
            </div>
        </section>

        {% block page_content_after %}{% endblock %}
    </div>

    {% block footer %}
         {{ include('@theme/_footer.html.twig')  }}
    {% endblock %}

    {% block control_sidebar %}
{#        <h1>Control_sidebar {{ _self }}</h1>#}
{#        {% if admin_lte_context.control_sidebar %}#}
{#             include '@SurvosBase/Partials/_control-sidebar.html.twig'#}
{#        {% endif %}#}

{#         hinclude '@SurvosBaseBundle/Partials/_footer.html.twig'#}
    {% endblock %}
        {# @todo: get this working!  It's pretty cool
    {% block control_sidebar %}
        {% if admin_lte_context.control_sidebar %}
            {% include '@SurvosBaseBundle/Partials/_control-sidebar.html.twig' %}
        {% endif %}
    {% endblock %}
        #}

</div>

</body>
{% endblock dom_body %}
</html>

