<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
<head>
    <meta charset="utf-8" />
{#    <meta name="author" content="www.frebsite.nl" />#}
    <meta name="viewport" content="width=device-width minimum-scale=1.0 maximum-scale=1.0 user-scalable=no" />

    <title>{% block title %}mmenu.js demo{% endblock %}</title>

    {% block stylesheets %}
        <!-- stylesheets in {{ _self }} -->
{#        <link type="text/css" rel="stylesheet" href="/mmenu-js/demo/css/demo.css" />#}
        {{ encore_entry_link_tags('app') }}
{#        {{ encore_entry_link_tags('mmenu_css') }}#}
    {% endblock %}
</head>
{#  the mmenu library moves the menu to right outside the body, so it's no longer visible to the mmenu_controller #}
<body class="" {{ stimulus_controller('mmenu', {
    currentMenuItem: '(current menu item)'
}) }}>




{% block html_body %}
    <div id="page" class="wrapper">

        <div class="header">
            {% include "@SurvosBase/mmenu/_navbar.html.twig" %}
        </div>

{#        <div style="clear: left"></div>#}
{#        <div class="alert alert-warning" role="alert">#}
{#            This is a success alert—check it out!#}
{#        </div>#}

{#        <div style="clear: left"></div>#}

        <div style="clear: both"></div>
        <div id="html_content" class="content" data-mmenu-target="content">
            {% block body %}
            <p>
                <strong>This is an advanced demo.</strong><br />
                Click the menu icon to open the menu.
            </p>
            {% endblock body %}
        </div>
        <div style="clear: both"></div>
        <span data-mmenu-target="msg"></span>

        <nav id="menu" data-mmenu-target="tree">
            {% block menu %}
                <ul>
                    <li><a href="#content">Introduction</a></li>
                    <li><a href="#widescreen">Widescreen extension</a></li>
                    <li><a href="#drag">Drag add-on</a></li>
                    <li><a href="#fixed">Fixed elements</a></li>

                    <li class="Divider">Other demos</li>
                    <li><a href="default.html">Default demo</a></li>
                    <li><a href="{{ path('mmenu_page', {page: 'advanced'}) }}">Advanced demo</a></li>
                </ul>

            {% endblock %}
        </nav>
    </div>
{% endblock html_body %}
<!-- Hammer.js for dragging -->

<!-- mmenu scripts -->
{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{#    <script src="/mmenu-js/dist/mmenu.polyfills.js"></script>#}
{#    <script src="/mmenu-js/dist/mmenu.js"></script>#}
{% endblock %}


</body>
</html>
