{% extends 'base.html.twig' %}

{% block body %}

<div class="example-wrapper">
    <h1>API Paths✅</h1>

    {% for key, s in schemas %}
        {{ key }}
{#        {{ dump(s) }}#}
    {% endfor %}


    This friendly message is coming from:
    <table class="table table-bordered">
        <tbody>
        {% for key, p in paths %}
        <tr>
            <td>{{ key }}</td>
                {% if 'get' in p|keys %}
                    <td>
                    GET
                    {% set pget = p.get %}
                    {{ pget.summary }}
                    {% set validResponse = pget.responses[200] %}
                    {% set schema = validResponse.content['application/ld+json'].schema %}
{#                    {{ dump(schema) }}#}
            {% if 'properties' in schema|keys %}
                        {% set items = schema.properties['hydra:member'].items %}
                        {% set key = items['$ref']|replace({'#/components/schemas/': ''}) %}
                {% set schema = schemas[key] %}

{#                {{ dump(items) }}#}
{#                        <b>{{ key }}</b>#}
{#                        {{ dump(schema) }}#}

                        {% if 'description' in schema|keys %}
                        <i>{{ schema.description }}</i>
                            <table class="table">
                                <thead>

                                </thead>
                                <tbody>
                                {% for x, property in schema.properties|filter( (x) => '@' not in x )  %}
                                    <tr>
                                        <td>
                                            {{ x }}
                                        </td>
                                        <td>
                                            {{ property.type|default('~') }}
{#                                            {{ dump(property) }}#}

                                        </td>
                                    </tr>
                                {% endfor %}

                                </tbody>
                            </table>
                            <ol>
                            {% endif %}

                    </ol>

                {% endif %}
            {% endif %}

        </tr>
        {% endfor %}

        </tbody>
    </table>

</div>

    <pre>
    {{ paths|json_encode(constant('JSON_PRETTY_PRINT')) }}
        </pre>

{% endblock %}
