{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}
{% block stylesheets '' %}
{% block javascripts %}
    {#
    {{ parent() }}

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <script src="js/my-login.js"></script>
    #}
{% endblock %}

{% block body %}

<div class="my-login-page">

    {% if error|default(false) %}
<div class="text-danger">{{ error }}</div>
{% endif %}

<section class="h-100">
    <div class="container h-100">
        <div class="row justify-content-md-center h-100">
            <div class="card-wrapper">
                <div class="brand">
                    <img src="{{ path('app_logo')}}" alt="logo">
                </div>
                <div class="card fat">
                    <div class="card-body">
                        {#
                        <h4 class="card-title">Login</h4>
                        #}
                        <form method="POST" class="my-login-validation" novalidate="">
                            <div class="form-group">
                                <label for="email">E-Mail Address</label>
                                <input id="email" type="email" class="form-control" name="email" value="" required autofocus>
                                <div class="invalid-feedback">
                                    Email is invalid
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="password">Password
                                    {# @todo:
                                    <a href="forgot.html" class="float-right">
                                        Forgot Password?
                                    </a>
                                    #}
                                </label>
                                <input id="password" type="password" class="form-control" name="password" required data-eye>
                                <div class="invalid-feedback">
                                    Password is required
                                </div>
                            </div>

                            {% set authToken = csrf_token('authenticate') %}
                            <input type="hidden" name="_csrf_token"
                                   value="{{ authToken }}"
                            >
                            {{ not authToken ? 'WARNING: no auth token!' }}

                            <div class="form-group">
                                <div class="custom-checkbox custom-control">
                                    <input type="checkbox" name="remember" id="remember" class="custom-control-input">
                                    <label for="remember" class="custom-control-label">Remember Me</label>
                                </div>
                            </div>

                            <div class="form-group m-0">
                                <button type="submit" class="btn btn-primary btn-block">
                                    Login
                                </button>
                            </div>
                            <div class="mt-4 text-center">
                                Don't have an account? <a href="{{ path('app_register')}}">Create One</a>
                            </div>

                            {# @todo
                            <div class="mt-4 text-center">
                                {{ render(controller('Survos\\BaseBundle\\Controller\\OAuthController::socialMediaButtons', { style: 'login' } )) }}
                            </div>
                            #}
                        </form>
                    </div>
                </div>
                <div class="footer">
                    {% include "@SurvosBase/_social_media_login_buttons.html.twig" %}

                </div>
            </div>
        </div>
    </div>
</section>

    {% endblock %}

    {% block old_login %}
    <form method="post">
        {% if error|default(false) %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        {% if app.user %}
            <div class="mb-3">
                You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
            </div>
        {% endif %}

        <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
        <label for="inputEmail">Email</label>
        <input type="email" value="{{ last_username|default("") }}" name="email" id="inputEmail" class="form-control" required autofocus>
        <label for="inputPassword">Password</label>
        <input type="password" name="password" id="inputPassword" class="form-control" required>

        <input type="hidden" name="_csrf_token"
               value="{{ csrf_token('authenticate') }}"
        >

        SOCIAL MEDIA CALL!!
        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
        See https://symfony.com/doc/current/security/remember_me.html

        {% include "@SurvosBase/_social_media_login_buttons.html.twig" %}

            <div class="checkbox mb-3">
                <label>
                    <input type="checkbox" name="_remember_me"> Remember me
                </label>
            </div>
        {#
        #}

        <button class="btn btn-lg btn-primary" type="submit">
            Sign in
        </button>
    </form>
{% endblock %}
