{# {% set modalController = modalController|default('modal-form') %} #}


<div id="modal_controller"
     {{ stimulus_target(aaController, 'mc') }}
        {{ stimulus_controller(modalController, {
    formUrl: formUrl
}) }}>

    {% if showButton|default(false) %}
    <button {{ stimulus_action(modalController, 'openModal') }}
            class="btn btn-primary btn-sm"
    >{{ buttonLabel|default('open modal') }}
    </button>
    {% endif %}


    <div {{ stimulus_target(modalController, 'modal') }}  {{ stimulus_target(aaController, 'modal')  }}
            class="modal fade"
            tabindex="-1"
            aria-hidden="true"
    >
        <div class="modal-dialog {{ modalClass|default('') }}">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">{{ modalTitle|default(formUrl) }}</h5>
                    <button type="button" class="btn-close"
                            data-bs-dismiss="modal"
                            aria-label="Close">
                    </button>
                </div>

                <div class="modal-body" {{ stimulus_target(modalController, 'modalBody')  }}  {{ stimulus_target(aaController, 'modalBody') }} >
                    {{ modalContent|default('Loading...') }}
                </div>


                {{ formUrl }}
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary"
                            data-bs-dismiss="modal">Cancel
                    </button>

                    <a type="button" class="btn btn-secondary" href="{{ formUrl }}">
                        Open <span class="fas fa-external-link-alt"></span>
                    </a>

                    <button type="button" class="btn btn-primary" {{ stimulus_action(modalController, 'submitForm') }}>
                        Save
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>


