{% extends "base.html.twig" %}

{% block title 'Bundle Versions and Credits' %}
{% block body %}


    {{ type == 'javascript' ? block('yarnModules') : block('bundleTable') }}
{#    <div class="row justify-content-md-center">#}
{#        <div class="col-md-6">#}
{#            {{ block('yarnModules')  }}#}
{#        </div>#}
{#        <div class="col-md-6">#}
{#            {{ block('bundleTable')  }}#}
{#        </div>#}
{#    </div>#}

{% endblock %}

{% block yarnModules %}
    <table class="table table-sm table-striped table-condensed js-datatable">
        <thead>
        <tr>
            <th>Module</th>
            <th>Version</th>
        </tr>
        </thead>
        <tbody>
        {% for name, minimumVersion in yarnModules %}
            <tr>
                <td>{{ name }}</td>
                <td>{{ minimumVersion }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block bundleTable %}
    <table class="table table-sm table-striped table-condensed js-datatable">
        <thead>
        <tr>
            <th>Bundle</th>
            <th>Minimum Version</th>
        </tr>
        </thead>
        <tbody>
        {% for bundle, version in composerData.require %}
            <tr>
                <td>{{ bundle }}</td>
                <td>{{ version }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
