{% set baseMenu = knp_menu_get('base_menu') %}

<nav class="navbar navbar-expand-md navbar-light bg-light d-print-none" >

    <a class="navbar-brand d-inline-block" href="{{ path('app_homepage')}}"><span class="{{ site_icon|default('fas fa-home')}}"></span>{{ site_name|default('site_name') }}</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#baseNavbarCollapse"
            aria-controls="baseNavbarCollapse"
            aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="baseNavbarCollapse">
        {{ knp_menu_render(base_menu_route, {'currentClass': 'active', 'template': '@SurvosBase/knp_menu.html.twig'}) }}
    </div>

    <div clwebpass="navbar" id="baseNavbarAuthMenu">
        {{ knp_menu_render('auth_menu', {'currentClass': 'active', 'template': '@SurvosBase/knp_menu.html.twig'}) }}
    </div>
</nav>


