{% extends ['base.html.twig', "SurvosBaseBundle::base.html.twig"] %}

{% block title 'User Profile' %}
{% block body %}


    {% include "@SurvosBase/app_profile.html.twig" %}
    {% if app.environment == 'dev' %}
    <p>
        For inspiration, see <a href="https://symfonycasts.com/profile/show">https://symfonycasts.com/profile/show</a>
    </p>
    {% endif %}

    {# ack, what is this doing here?  This is for headlineHub, NOT SurvosBaseBundle!!
    <ul>
        {% for member in user.memberships %}
            <li>{{ member.project.name }}
                <ul>
                    {% for code, tc in member.tagCategorySubscriptions %}
                        <li>{{ tc.tagCategory }}:
                            {{ tc.customTags.count }}
                            {% for tag in tc.customTags %}
                            {{ tag.name }}
                            {% endfor %}
                        </li>
                    {% endfor %}
                    <li>
                        <a href="{{ path('member_reset', member.rp) }}" class="btn btn-danger">Reset {{member.project}} Subscriptions</a>

                    </li>

                </ul>
            </li>

        {% endfor %}
    </ul>
    #}


    {{ block('connect_with_social_media') }}

    <hr />
    <a href="{{ path('app_change_password') }}">Change Password</a>

    {% if change_password_form|default(false) %}
    {{ form(change_password_form) }}
    {% endif %}

    {# argh, should we include user management in the bundle?
    {% include "user/_delete_form.html.twig" %}
    #}


{% endblock %}

{% block connect_with_social_media %}
<div class="row">
    <div class="col-xs-12 col-sm-6">
        <div class="account-box">
            <h1 class="profile-header">My Account</h1>
            <table class="table table-striped table-bordered">
                <tbody>
                <tr>
                    <td>Full Name</td>
                    <td><strong>Tac Tacelosky</strong></td>
                </tr>
                <tr>
                    <td>Email</td>
                    <td><strong><a href="/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="ff8b9e9c929e91bf98929e9693d19c9092">[email&#160;protected]</a></strong></td>
                </tr>
                <tr>
                    <td>
                        Billing Email
                        <span class="js-tooltip" data-original-title="Invoice emails are CC'ed to this address">
                                    <i class="fa fa-info-circle"></i>
                                </span>
                    </td>
                    <td>
                        <span class="text-muted">(same as above)</span>
                    </td>
                </tr>

                {% for clientKey, clientObject in oauthClients %}
                    {% set provider = clientObject.provider %}
                    {% set client = clientObject.client %}

                <tr>
                    <td>Connect {{ clientKey }}?</td>
                    <td>
                        {% set token = user.getOAuthToken(clientKey) %}
                        {% if token %}
                            <i class="fas fa-thumbs-up text-success"></i><i class="fab fa-{{ clientKey }}"></i>Connected to  {{ clientKey|title }}</a>
                        {% else %}
                        <a href="{{ path('oauth_connect_start', {clientKey: clientKey })}}" class="btn btn-warning btn-block btn-social btn-{{ clientKey }}"><i class="fab fa-{{ clientKey }}"></i>Connect with {{ clientKey|title }}</a>
                        {% endif %}
                            </td>
                    <td>
                        {% if is_granted("ROLE_SUPER_ADMINX") %}
                        <a href="{{ provider.apps_url }}">App Directory</a>
                        <br />
                        {% set appUrl = provider.app_url|format(clientObject.appId)  %}
                        <a href="{{ appUrl }}">This App</a>
                        {% endif %}
                        {% set appUrl = provider.user_apps  %}
                        <a title="{{ token }}" target="_blank" href="{{ appUrl }}">My {{ clientKey|title }} Apps</a>
                    </td>
                </tr>
                {% endfor %}

                <tr>
                    <td>Subscribe to Newsletter?</td>
                    <td><strong>Yes</strong></td>
                </tr>
                <tr>
                    <td colspan="2" class="text-center">
                        <a href="/change-password/change-password" class="btn btn-sm btn-danger btn-margin">Change your password</a>
                        <a href="/profile/edit" class="btn btn-sm btn-primary btn-margin">Edit my information</a>
                    </td>
                </tr>
                </tbody>
            </table>
            <p>To have your account deleted send your request to: <a href="/cdn-cgi/l/email-protection#8cfcfee5faedeff5ccfff5e1eae3e2f5efedfff8ffa2efe3e1"><span class="__cf_email__" data-cfemail="c4b4b6adb2a5a7bd84b7bda9a2abaabda7a5b7b0b7eaa7aba9">[email&#160;protected]</span></a>.</p>
        </div>
    </div>
</div>
{% endblock %}
