{# <div class="os-padding"> #}
{# <div class="os-viewport os-viewport-native-scrollbars-invisible"> #}
{# <div class="os-content" style="padding: 8px; height: 100%; width: 100%;"> #}
{# <nav class="mt-2"> #}
{# <!-- Sidebar Menu --> #}

<ul class="nav nav-pills nav-sidebar flex-column" data-lte-toggle="treeview" role="menu"
    data-accordion="false"
>
    <!-- Nested Menu -->
    <li class="nav-item menu-open">
        <a class="nav-link active">
            <i class="nav-icon fas fa-circle"></i>
            <p>
                Credits
                <i class="end fas fa-angle-left"></i>
            </p>
        </a>
        <ul class="nav nav-treeview">
            <li class="nav-item">
                <a href="{{ path('survos_base_credits', {type: 'bundles'}) }}" class="nav-link active">
                    <i class="nav-icon far fa-circle"></i>
                    <p>Bundles</p>
                </a>
            </li>
            <li class="nav-item">
                <a href="{{ path('survos_base_credits', {type: 'javascript'}) }}" class="nav-link">
                    <i class="nav-icon far fa-circle"></i>
                    <p>Javascript</p>
                </a>
            </li>
            <li class="nav-item">
                <a href="./index3.html" class="nav-link ">
                    <i class="nav-icon far fa-circle"></i>
                    <p>Dashboard v3</p>
                </a>
            </li>
        </ul>
    </li>
    <li class="nav-item ">
        <a href="javascript:;" class="nav-link ">
            <i class="nav-icon fas fa-circle"></i>
            <p>
                Widgets
                <i class="end fas fa-angle-left"></i>
            </p>
        </a>
        <ul class="nav nav-treeview">
            <li class="nav-item">
                <a href="./pages/widgets/small-box.html" class="nav-link ">
                    <i class="nav-icon far fa-circle"></i>
                    <p>Small Box</p>
                </a>
            </li>
            <li class="nav-item">
                <a href="./pages/widgets/info-box.html" class="nav-link ">
                    <i class="nav-icon far fa-circle"></i>
                    <p>info Box</p>
                </a>
            </li>
            <li class="nav-item">
                <a href="./pages/widgets/cards.html" class="nav-link ">
                    <i class="nav-icon far fa-circle"></i>
                    <p>Cards</p>
                </a>
            </li>
        </ul>
    </li>

    <li class="nav-item ">
        <a href="javascript:;" class="nav-link ">
            <i class="nav-icon fas fa-circle"></i>
            <p>
                Layout Options
                <span class="badge bg-info float-end me-3">6</span>
                <i class="end fas fa-angle-left"></i>
            </p>
        </a>
        <ul class="nav nav-treeview">
            <li class="nav-item">
                <a href="./pages/layout/fixed-sidebar.html" class="nav-link ">
                    <i class="nav-icon far fa-circle"></i>
                    <p>Fixed Sidebar</p>
                </a>
            </li>
        </ul>
    </li>
    <li class="nav-item ">
        <a href="javascript:;" class="nav-link ">
            <i class="nav-icon fas fa-circle"></i>
            <p>
                Forms
                <i class="end fas fa-angle-left"></i>
            </p>
        </a>
        <ul class="nav nav-treeview">
            <li class="nav-item">
                <a href="{{ path('app_homepage') }}" class="nav-link ">
                    <i class="nav-icon far fa-circle"></i>
                    <p>Homepage</p>
                </a>
            </li>
            <li class="nav-item">
                <a href="{{ path('app_profile') }}" class="nav-link ">
                    <i class="nav-icon far fa-circle"></i>
                    <p>Profile</p>
                </a>
            </li>
        </ul>
    </li>
    <li class="nav-item ">
        <a href="javascript:;" class="nav-link ">
            <i class="nav-icon fas fa-circle"></i>
            <p>
                Tables
                <i class="end fas fa-angle-left"></i>
            </p>
        </a>
        <ul class="nav nav-treeview">
            <li class="nav-item">
                <a href="./pages/tables/simple.html" class="nav-link ">
                    <i class="nav-icon far fa-circle"></i>
                    <p>Simple Tables</p>
                </a>
            </li>
        </ul>
    </li>
    <li class="nav-header">MULTI LEVEL EXAMPLE</li>
    <li class="nav-item">
        <a href="{{ path('app_homepage') }}" class="nav-link">
            <i class="nav-icon fas fa-circle"></i>
            <p>Home Page</p>
        </a>
    </li>
    <li class="nav-item">
        <a href="javascript:;" class="nav-link">
            <i class="nav-icon fas fa-circle"></i>
            <p>
                Level 1
                <i class="end fas fa-angle-left"></i>
            </p>
        </a>
        <ul class="nav nav-treeview">
            <li class="nav-item">
                <a href="javascript:;" class="nav-link">
                    <i class="nav-icon far fa-circle"></i>
                    <p>Level 2</p>
                </a>
            </li>
            <li class="nav-item">
                <a href="javascript:;" class="nav-link">
                    <i class="nav-icon far fa-circle"></i>
                    <p>
                        Level 2
                        <i class="end fas fa-angle-left"></i>
                    </p>
                </a>
                <ul class="nav nav-treeview">
                    <li class="nav-item">
                        <a href="javascript:;" class="nav-link">
                            <i class="nav-icon far fa-dot-circle"></i>
                            <p>Level 3</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="javascript:;" class="nav-link">
                            <i class="nav-icon far fa-dot-circle"></i>
                            <p>Level 3</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="javascript:;" class="nav-link">
                            <i class="nav-icon far fa-dot-circle"></i>
                            <p>Level 3</p>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="nav-item">
                <a href="javascript:;" class="nav-link">
                    <i class="nav-icon far fa-circle"></i>
                    <p>Level 2</p>
                </a>
            </li>
        </ul>
    </li>
    <li class="nav-item">
        <a href="javascript:;" class="nav-link">
            <i class="nav-icon fas fa-circle"></i>
            <p>Level 1</p>
        </a>
    </li>
    <li class="nav-header">LABELS</li>
    <li class="nav-item">
        <a href="javascript:;" class="nav-link">
            <i class="nav-icon far fa-circle text-danger"></i>
            <p class="text">Important</p>
        </a>
    </li>
    <li class="nav-item">
        <a href="javascript:;" class="nav-link">
            <i class="nav-icon far fa-circle text-warning"></i>
            <p>Warning</p>
        </a>
    </li>
    <li class="nav-item">
        <a href="javascript:;" class="nav-link">
            <i class="nav-icon far fa-circle text-info"></i>
            <p>Informational</p>
        </a>
    </li>
</ul>
{#</nav>#}
{#</div>#}
{#</div>#}
{#</div>#}
