<!doctype html>
<html lang="{{ app.request.locale }}">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>

    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
{#    <script src="//unpkg.com/@ungap/custom-elements"></script>#}
    {% block stylesheets %}
        {% include "@UmbrellaAdmin/_stylesheets.html.twig" %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}


</head>

<body class="env-{{ app.environment }}" {% block body_class %} {% block body_start '' %}{% endblock %}>

{% block body_inner_html %}
    <div class="wrapper">
        {% block sidebar %}
            {% if admin_menu is not defined %}
                {% set admin_menu = get_menu(admin.menuName()) %}
            {% endif %}

            {{ render_menu(admin_menu) }}
        {% endblock %}

        <div class="main">

            {% block navbar %}
                {#        {{ include("@SurvosBase/adminlte/_example_topbar.html.twig") }}#}
                {{ include("@SurvosBase/umbrella/_navbar.html.twig") }}
            {% endblock %}

            <main class="content">
                <div class="{{ admin.containerClass }}">
                    {% block content %}
                        {{ block('body') }}
                    {% endblock %}
                </div>
            </main>
        </div>
    </div>

{% endblock %}

{% include "@UmbrellaCore/_toast.html.twig" %}

{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
    {# needed for sidebar collapse #}
    {% include "@UmbrellaAdmin/_scripts.html.twig" %}
{% endblock %}
</body>
</html>






