{% set navbar_goal %}
<nav class="mt navbar navbar-expand navbar-white navbar-light">
    <!-- Left navbar links -->
    <ul class="navbar-nav">
        <li class="nav-item ">
            <a href="index3.html" class="nav-link">Home</a>
        </li>
        <li class="nav-item ">
            <a href="index3.html" class="nav-link">Another link</a>
        </li>
        <li class="nav-item active">
            <a href="#" class="nav-link">Active!!</a>
        </li>
        <li class="nav-item ">
            <a href="index3.html" class="nav-link">Another link</a>
        </li>
    </ul>
</nav>
{% endset %}

{% set goal %}
        <ul class="nav nav-pills float-right">
            <li class="nav-link h5 pull-right float-right mt-2" ><span class="fas fa-arrow-left"></span> Character: ID </li>
        </ul>
        <ul class="nav nav-pills">
            <li class="nav-item">
                <a class="nav-link active" href="#">Show</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Scenes</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#">Disabled</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#"
                   role="button" aria-haspopup="true" aria-expanded="false">Actions <span class="fas fa-external-alt"></span> </a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Separated link</a>
                </div>
            </li>

        </ul>
    <div class="bs-component">
    </div>

{% endset %}

{% set navbarHtml %}
    {% set knp_menu_options =  {
        "template"      : "@SurvosBase/knp_menu_adminkit.html.twig",
        "currentClass"  : "active show",
        "ancestorClass" : "ancestor-active current_ancestor",
        "branch_class"  : "sidebar-header",
        'leaf_class'    : 'sidebar-item',
        "allow_safe_labels": true,
    } %}

    {% set old_knp_menu_options = {
        "xxtemplate"      : "@SurvosBase/knp_menu.html.twig",
        "attributes"    : "mt-2 navbar navbar-expand navbar-white navbar-light float-right",
        "style"         : "navbar",
        "currentClass"  : "active",
        "ancestorClass" : "active",
        "branch_class"  : "nav-link branch ",
        'firstClass'    : '',
        'lastClass'     : '',
        'leaf_class'    : 'nav-link',
        "allow_safe_labels": true}
    %}

    {# second arg is the path to the menu, if we just want a subset. #}
    {% set page_menu = knp_menu_get('survos_page_menu', [], {title: page_title} ) %}
    {{  knp_menu_render(page_menu, old_knp_menu_options) }}

{% endset %}

{{ navbarHtml|raw }}

<hr />
{#
{% if app.request.get('debug') %}
<div class="row">
    <div class="col-md-12">
        {{ navbarHtml|raw }}
        <textarea rows="10" cols="120">{{ navbarHtml|html_indent }}</textarea>
    </div>
    <div class="col-md-12">
        {{ goal|raw }}
        <textarea rows="10" cols="120">{{ goal|html_indent }}</textarea>
    </div>
</div>
{% endif %}
#}
