{% import '@SurvosBase/Macros/buttons.html.twig' as button %}

<div class="card">
{% if block('box_before') is defined %}{{ block('box_before') }}{% endif %}

{#    <div class="card-header card-yellow"><h4>{{ core.entityName }}</h4></div>#}
    <div class="card-body">
        <div class="card-body">
            <div class="row">
                <div class="col mt-0">
                    <h5 class="card-title">{{ block('box_title') }}</h5>
                </div>

                <div class="col-auto">
                    <div class="stat text-primary">
                        <i class="align-middle" data-feather="dollar-sign"></i>
                    </div>
                </div>
            </div>

{#            {% if block('box_subtitle') is defined %}<h6 class="card-subtitle mb-2 text-muted">{{ block('box_subtitle') }}</h6>{% endif %}#}
            <p class="card-text">{{ block('box_body') }}</p>

{#            <a href="#" class="card-link">Card link</a>#}
{#            <a href="#" class="card-link">Another link</a>#}
        </div>

        {#
        If there is a form in the block_footer, it will be rendered when checking "is not empty".
        Therefor we have to cache the output first and then perform the checks.
        #}
        {% if block('box_footer') is defined %}
            {% set boxFooter = block('box_footer') %}
            {% if boxFooter is not empty %}
                <div class="card-footer">{{ boxFooter|raw }}</div>
            {% endif %}
        {% endif %}

    </div>

</div>
