{# maybe a macro or template eventually  #}

{% set title = block('title') is defined ? block('title') : title|default('title')  %}
{% set icon = block('icon') is defined ? block('icon') : icon|default('icon')  %}
{% set iconLink = block('iconLink') is defined ? block('iconLink') : iconLink|default(false)  %}
{% set h1 = block('h1') is defined ? block('h1') : h1|default('h1')  %}
{% set card_content = block('card_content') is defined ? block('card_content') : card_content|default('no card_content passed in...')  %}

{#<div class="card">#}
{#    <div class="card-body">#}
{#        <div class="row">#}
{#            <div class="col mt-0">#}
{#                <h5 class="card-title">{{ title|raw }}</h5>#}
{#            </div>#}

{#            <div class="col-auto">#}
{#                <div class="stat text-primary">#}
{#                    {% if iconLink %}#}
{#                    <a href="{{ iconLink }}">#}
{#                        <i class="{{ icon|raw }}"></i>#}
{#                    </a>#}
{#                    {% else %}#}
{#                        <i class="{{ icon|raw }}"></i>#}
{#                    {% endif %}#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#        <h1 class="mt-1 mb-3">{{ h1|raw }}</h1>#}
{#        <div class="mb-0">#}
{#            {% block footer %}#}
{#            #}{#            <span class="text-danger"> <i class="mdi mdi-arrow-bottom-right"></i> -3.65% </span>#}
{#            <span class="text-muted">Refreshed last week</span>#}
{#            {% if sync_route|default(false) %}#}
{#                <a href="{{ path(sync_route, session.rP) }}">#}
{#                    <i class="uil uil-sync text-danger" style="color: red"></i>#}
{#                </a>#}
{#            {% endif %}#}
{#            {% endblock %}#}
{#        </div>#}


{#    </div>#}
{#</div>#}


<div class="col-12 col-md-12 col-xxl-6 d-flex order-3 order-xxl-2">
    <div class="card flex-fill w-100">
        <div class="card-header">
            <div class="card-actions float-end">
                <div class="dropdown position-relative">
                    <a href="#" data-bs-toggle="dropdown" data-bs-display="static">
                        <i class="align-middle" data-feather="more-horizontal"></i>
                    </a>

                    <div class="dropdown-menu dropdown-menu-end">
                        {% for link in links|default([]) %}
                            <a class="dropdown-item" href="{{ link.url|default('#') }}">{{ link.text }}</a>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <h5 class="card-title mb-0">{{ title|raw }}</h5>
        </div>
        <div class="card-body px-4">
            {{ card_content|raw }}
{#            <div id="world_map" style="height:350px;"></div>#}
        </div>
    </div>
</div>
