<!DOCTYPE html>
<html lang="en">

<head>
    {% block head %}
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    {% endblock %}

{#    @@include('./_head.html', {#}
{#    "path": "../..",#}
{#    "title": "Volt Free Bootstrap Dashboard - Buttons"#}
{#    })#}

    <title>{% block title %}{% block page_title _self %}{% endblock %}</title>

    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}

        {#        <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('apple-touch-icon.png') }}">#}
        <link rel="icon" type="image/png" sizes="32x32" href="{{ asset('favicon-32x32.png') }}">
        <link rel="icon" type="image/png" sizes="32x32" href="{{ asset('favicon-16x16.png') }}">
        <link rel="manifest" href="{{ asset('site.webmanifest') }}">
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}

</head>

<body>

{#{% include "_dynamic/partials/_navigation.html.twig" %}#}

{% block sidebar  %}
    {% if menuCode is not defined %}
        {% set menuCode = 'survos_sidebar_menu'%}
    {% endif %}
{{ knp_menu_render(menuCode, {
    'menu_code'     : menuCode,
    "template"      : "@SurvosBase/knp_menu_volt.html.twig",
    "currentClass"  : "active show",
    "ancestorClass" : "ancestor-active current_ancestor",
    "branch_class"  : "multi-level nav-item justify-content-between",
    'firstClass'    : 'first-class',
    'lastClass'     : 'last-class',
    'leaf_class'    : 'leaf_class nav-link',
    "allow_safe_labels": true,
})
}}
{% endblock sidebar %}


<main class="content">
    <div class="py-4">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb breadcrumb-dark breadcrumb-transparent">
                <li class="breadcrumb-item"><a href="#"><span class="fas fa-home"></span></a></li>
                <li class="breadcrumb-item"><a href="#">@todo</a></li>
                <li class="breadcrumb-item active" aria-current="page">Breadbrumbs</li>
            </ol>
        </nav>
        <div class="d-flex justify-content-between w-100 flex-wrap">
            <div class="mb-3 mb-lg-0">
                <h1 class="h4">{{ block('page_title')}}</h1>
                <p class="mb-0">@description?</p>
            </div>
            <div>
                <a href="https://themesberg.com/docs/volt-bootstrap-5-dashboard/components/buttons/"
                   class="btn btn-outline-gray"><i class="far fa-question-circle me-1"></i> Buttons Docs</a>
            </div>
        </div>
    </div>
    {{ block('body') }}

</main>

</body>
</html>
